**/node_modules
**/dist
.git
.gitignore
**/uploads/*
!**/uploads/.gitkeep
*.log
**/*.log
.env
.env.example
**/.env
**/.env.example
.vscode
.DS_Store
README.md
PROJECT_SPEC.md
AGENTS.md
**/vitest.config.js
**/__tests__
